{{ define "telegram.default.message" }}
{{ range .Alerts -}}
{{ if eq .Status "firing" }}🚨{{ else }}✅{{ end }} <b>{{ .Labels.alertname }}</b>
Severity: {{ .Labels.severity }}
Summary: {{ .Annotations.summary }}
Description: {{ .Annotations.description }}
{{ end }}
{{ end }}